* {
  margin: 0px;
  padding: 0px;

  cursor: default;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

header {
  position: relative;

  width: 100%;
  height: 64px;

  background-color: #3F51B5;

  padding-left: 20px;
  box-sizing: border-box;
  -moz-box-sizing : border-box;

  -webkit-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);

  z-index: 100;
}

header h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;

  line-height: 64px;

  color: rgba(255, 255, 255, 1.0);
}

.header-container {
  display: flex;
}

.root-header {
  width: 30%;
}

.detail-header {
  width: 70%;
}

.dialog-header {
  width: 100%;
}

.main-container {
  display: flex;
}

.convos {
  width: 30%;
  height: calc(100vh - 64px);

  /*background: #2d2d2d;*/

  border-right: 1px solid rgba(240, 240, 240, 1.0);
}

.chats {
  width: 70%;
  height: calc(100vh - 84px - 64px);

  padding: 10px;

  /*background: #000;*/

  overflow: scroll;
  /*-webkit-overflow-scrolling: touch;*/
}

.search-results {
  width: 100%;
  height: 100%;

  /*padding: 10px;*/

  /*background: #000;*/

  overflow: scroll;
  /*-webkit-overflow-scrolling: touch;*/
}

.action-button {
  float: right;
  display: inline-block;

  position: relative;
  /*top: 64px;*/
  /*right: 20px;*/

  width: 80px;
  height: 36px;

  border: none;

  color: #fff;

  background: #F44336;
  border-radius: 3px;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;

  margin-top: 16px;
}

.action-button.primary {
  right: 110px;
}

.notification-container {
    position: relative;
    float: right;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    width:18px;height:18px;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 5px;

    padding-right: 5px;
    padding-bottom: 5px;
    text-align:center;

    font: 15px Verdana;
}

.convo-item {
  padding-top: 12px;
  padding-left: 12px;

  padding-right: 12px;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(240, 240, 240, 1.0);
}

.message-item-container {
  clear: both;

  padding-top: 8px;
  padding-bottom: 8px;
}

.search-item {
  padding-top: 12px;
  padding-left: 12px;

  padding-right: 12px;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(240, 240, 240, 1.0);
}

.chat-image {
  width: 28px;
  height: 28px;

  float: left;

  margin-right: 8px;

  background-color: rgba(246, 246, 246, 1.0);
  background-size: 100% 100%;
  background-position: center;
  /*background-image: url('https://graph.facebook.com/1635082316803616/picture');*/

  border-radius: 14px;
}

.chat-image.sent {
  float: right;

  margin-right: 0px;
  margin-left: 8px;
}

.message-item {
  display: inline-block;
  float: left;

  padding-top: 6px;
  padding-bottom: 6px;

  max-width: 80%;

  padding-left: 12px;
  padding-right: 12px;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: normal;

  border-radius: 15px;
  background: rgba(246, 246, 246, 1.0);
}

.message-item.sent {
  float: right;
  color: #fff;
  background: #3F51B5;
}

.profile-image {
  width: 50px;
  height: 50px;

  float: left;

  margin-right: 14px;

  background-color: rgba(246, 246, 246, 1.0);
  background-size: 100% 100%;
  background-position: center;
  /*background-image: url('https://graph.facebook.com/1635082316803616/picture');*/

  border-radius: 25px;
}

.convo-item h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 400;

  padding-top: 3px;

  color: rgba(20, 20, 20, 1.0);
}

.convo-item p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 400;

  color: rgba(140, 140, 140, 1.0);

  margin-top: 4px;
}

.search-item h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 400;

  padding-top: 3px;

  color: rgba(20, 20, 20, 1.0);
}

.search-item p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 400;

  color: rgba(140, 140, 140, 1.0);

  margin-top: 4px;
}

.search-field-container {
  padding: 10px;
}

.search-field {
  height: 26px;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 400;

  line-height: 26px;
  text-align: center;

  color: rgba(110, 110, 110, 1.0);

  background: rgb(246, 246, 246);

  border-radius: 3px;
}

.chat-box {
  position: absolute;

  left: 30%;
  bottom: 0px;

  width: 70%;
  height: 64px;

  padding: 10px;

  box-sizing: border-box;
  -moz-box-sizing : border-box;

  border-top: 1px solid rgba(240, 240, 240, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

.chat-box input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing : border-box;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 400;

  padding-top: 10px;

  /*line-height: 36px;*/

  outline: none;
  border: none;
  /*background: rgba(0, 0, 0, 0.0);*/


}

.send-button-c {
  position: absolute;

  bottom: 6px;
  right: 20px;

  width: 50px;
  height: 50px;

  border: none;
  border-radius: 25px;

  background: rgb(63, 81, 181);

  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px 0px;
}

/* Modal Code */

.modal-background {
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background: rgba(20, 20, 20, 0.3);

  opacity: 0.0;
  z-index: 1000;

  pointer-events: none;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.modal-background.presented {
  opacity: 1.0;
  pointer-events: auto;
}

.modal-dialog-container {
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: 1001;

  pointer-events: none;
}

.modal-dialog {
  position: relative;
  top: 50px;

  width: 70%;;
  height: 500px;

  margin-left: auto;
  margin-right: auto;

  /*border-radius: 3px;*/
  /*background-clip: content-box;*/
  /*padding: 1px;*/
  -webkit-backface-visibility: hidden;

  background: #fff;

  overflow: hidden;

  z-index: 1001;
  pointer-events: none;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

  -webkit-transform: translateY(100vh);
  -moz-transform: translateY(100vh);
  transform: translateY(100vh);

  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.modal-dialog.presented {
  pointer-events: auto;

  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.search-box {
  position: absolute;

  left: 40px;
  bottom: 0px;

  width: 70%;
  height: 64px;

  padding: 10px;
  padding-left: 20px;



  box-sizing: border-box;
}

.search-box input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing : border-box;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 500;

  padding-top: 10px;
  line-height: 24px;

  outline: none;
  border: none;

  background: rgba(0, 0, 0, 0.0);

  color: #fff;
}

.action-toolbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 54px;

  padding-left: 10px;


  /*background: #3F51B5;*/

  /*-webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);*/
}

.tool-button {
  position: relative;;
  top: 0px;

  height: 36px;

  color: rgba(255, 255, 255, 1.0);
  background: #3F51B5;

  padding-left: 10px;
  padding-right: 10px;

  border: none;
  border-radius: 3px;

  margin-left: 8px;
  margin-right: 0px;

  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 14px;

  opacity: 0.5;
  pointer-events: none;

  -webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
}



.search-box ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(255, 255, 255, 0.64);
}
.search-box :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(255, 255, 255, 0.64);
   opacity:  1;
}
.search-box ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(255, 255, 255, 0.64);
   opacity:  1;
}
.search-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(255, 255, 255, 0.64);
}
